.root {
    margin-top: 64px;
}

.image {
    width: 100%;
    height: auto;
}

.textContainer {
    padding: 16px;
    font-family: 'Figtree';
}

.gridItem {
    display: flex;
    justify-content: center;
}

.card,
.reviewCard {
    width: 100%;
    max-width: 345px;
    cursor: pointer;
    transition: outline 0.3s, box-shadow 0.3s;
}

.card:hover,
.reviewCard:hover {
    outline: 2px solid #3f51b5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.expandedCard {
    width: 100%;
    max-width: 345px;
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.reviewsContainer,
.teamContainer {
    padding: 32px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    background-color: #fafafa;
}

.reviewsContainer h4,
.teamContainer h4 {
    margin-bottom: 24px;
    font-weight: 600;
    font-family: 'Figtree';
}

.carouselContainer {
    margin-top: 32px;
    padding: 20px;
    /* border: 1px solid #ddd; */
    /* border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    background-color: #fafafa;
}

.carouselItemBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    overflow: hidden;
    /* Ensure overflow is hidden */
}

.carouselImage {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}

.carouselTextContainer {
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
    /* Ensure text doesn't overflow */
    text-overflow: ellipsis;
    /* Add ellipsis if the text overflows */
    white-space: normal;
    font-family: 'Figtree';
    max-width: 100%;
}

.mapContainer {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.mapContainer h4 {
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Figtree';
}

.mapContainer h6 {
    margin-top: 20px;
    white-space: pre-line;
    /* Preserve line breaks */
    font-weight: normal;
    font-family: 'Figtree';
    color: #555;
}

.marker-position {
    bottom: 30px;
    left: 0;
    position: relative;
}