.root {
    margin-top: 64px;
}

.image {
    width: 100%;
    height: auto;
}

.textContainer {
    padding: 16px;
}

.gridItem {
    display: flex;
    justify-content: center;
}

.card,
.reviewCard {
    width: 100%;
    max-width: 345px;
    cursor: pointer;
    transition: outline 0.3s, box-shadow 0.3s;
}

.card:hover,
.reviewCard:hover {
    outline: 2px solid #3f51b5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.expandedCard {
    width: 100%;
    max-width: 345px;

}

.avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.reviewsContainer,
.teamContainer {
    padding: 32px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    background-color: #fafafa;
}

.reviewsContainer h4,
.teamContainer h4 {
    margin-bottom: 24px;
    font-weight: 600;
}

#reviewButton {
    margin-top: 5px;
    background-color: #3f51b5;
    color: #fafafa;
}

.carouselContainer {
    margin-top: 32px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
}

.carouselItemBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    overflow: hidden;
    /* Ensure overflow is hidden */
}

.carouselImage {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}

.carouselTextContainer {
    padding-left: 16px;
    /* Adjust padding-left as needed */
    padding-right: 16px;
    /* Optional: Add padding-right if necessary */
    overflow: hidden;
    /* Ensure text doesn't overflow */
    text-overflow: ellipsis;
    /* Add ellipsis if the text overflows */
    white-space: normal;
    /* Allow text to wrap */
    max-width: 100%;
    /* Ensure the text container doesn't exceed its parent's width */
}