.root {
    margin-top: 64px;
}

.image {
    width: 100%;
    height: auto;
}

.textContainer {
    padding: 16px;
}

.gridItem {
    display: flex;
    justify-content: center;
}

.card,
.reviewCard {
    width: 100%;
    max-width: 345px;
    cursor: pointer;
    transition: outline 0.3s, box-shadow 0.3s;
}

.card:hover,
.reviewCard:hover {
    outline: 2px solid #3f51b5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.expandedCard {
    width: 100%;
    max-width: 345px;

}

.avatar {
    width: 80px;
    height: 80px;
    margin: 0 auto 16px auto;
}

.reviewsContainer,
.teamContainer {
    padding: 32px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    background-color: #fafafa;
}

.reviewsContainer h4,
.teamContainer h4 {
    margin-bottom: 24px;
    font-weight: 600;
}